# Can generate NetAcquire protocol pdf so ignore it
docs/netacquire_protocol.pdf

# From github.com/github/gitignore

*.aux
*.bbl
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
